[submodule "sunrise-commander"]
	path = sunrise-commander
	url = https://github.com/escherdragon/sunrise-commander.git
[submodule "deskel"]
	path = deskel
	url = https://github.com/andrejlamov/deskel.git
[submodule "org-gcal.el"]
	path = org-gcal.el
	url = https://github.com/andrejlamov/org-gcal.el.git
[submodule "ditaa"]
	path = ditaa
	url = https://github.com/stathissideris/ditaa.git
